/*

CSS for Fine Uploader UI.  Depends on a matching HTML file.
Maintained by Widen Enterprises.

See the HTML file comments for more details.

*/

html,
body {
	font-family: Open Sans, Arial;
	height: 100%;
	width: 100%;
	background-image: url("../img/landscape.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	background-position: center;
	color: #fff;
	font-size: 20px;
}

.content {
	position: relative;
	top: 10%;
}

.shadow {
	text-shadow: 2px 4px 4px #000000;
}

.title {
	text-align: center;
	font-weight: 700;
	margin-top: 0px;
	margin-bottom: 40px;
	font-size: 36px;
}

.uploader-drop-zone {
	opacity: 1;
	height: 300px;
	border: solid 3px #222;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	text-align: center;
	/* Make the drop zone scollable */
	overflow-y: scroll;
}

LI.file-container {
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	margin: 10px;
	text-align: left;
}

.qq-uploader {
	margin: 20px 0;
	width: auto;
}

.submitbtn {
	margin-bottom: 10px;
	border: none;
}

.btn-primary {
	background-color: #F05F40;
}

.btn-primary:active {
	background-color: #eb3812;
}

.btn-primary:hover {
	background-color: #eb3812;
}

.drop-zone-text {
	display: inherit;
}

.file-info {
	display: inline-block;
	width: 400px;
}

IMG {
	vertical-align: middle;
}

.signin-button {
	margin-bottom: 20px;
	display: block;
}

a {
	font-weight: bold;
	color: #fff;
}

a:hover {
	text-decoration: underline;
	color: #fff;
}

p {
	font-size: 14px;
}

h2 {
	font-weight: 200;
	margin-bottom: 5px;
	font-size: 36px;
}

h3 {
	font-weight: 400;
	font-size: 24px;
	line-height: 28px;
}

h4 {
	font-weight: 300;
}

.sign-in-buttons {
	text-align: center;
}

.hide {
	display: none;
}
